venv/
switch_eval_round1/peering_transit_factor_balanced/results/
switch_eval_round1/peering_transit_factor_balanced/scenarios/
switch_eval_round1/peering_transit_factor_high/results/
switch_eval_round1/peering_transit_factor_high/scenarios/
switch_eval_round1/peering_transit_factor_low/results/
switch_eval_round1/peering_transit_factor_low/scenarios/
switch_eval_round1/thundering_herd_max/
switch_eval_round1/thundering_herd_def/
switch_eval_round1/thundering_herd_max_valid/
switch_eval_round1/thundering_herd_stable/

switch_eval_round2/peering_transit_factor_balanced/results/
switch_eval_round2/peering_transit_factor_balanced/scenarios/
switch_eval_round2/peering_transit_factor_high/results/
switch_eval_round2/peering_transit_factor_high/scenarios/
switch_eval_round2/peering_transit_factor_low/results/
switch_eval_round2/peering_transit_factor_low/scenarios/


scion-path-graph/simulation_results/
switch_eval_cost/results/
switch_eval_th/results/